@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');


body {
    background: rgb(41, 37, 37);
    color: black;
    font-family: "Quicksand", sans-serif;
}

header {
    border-bottom: solid 4px white;
    padding: 10px;
    font-size: 60px;
    font-family: "Krona One", sans-serif;;
    color: rgb(43, 0, 255);
}

.introducao p{
    font-size: 20px;
    font-weight: 600;
}

.introducao a {
    padding-left: 1600;
    padding-top: 0;

}

.introducao {
    color: white;
}

.game-Fortnite {
    padding-top: 30px;
    color: white;
}

.game-Baldur {
    padding-top: 30px;
    color: white;
}

.game-Horizon {
    padding-top: 30px;
    color: white;
}

.game-palworld {
    padding-top: 30px;
    color: white;
}

.game-resident {
    padding-top: 30px;
    color: white;
}


.video-description{
    display: flex;
}

.description-Fortnite{
    margin-left: 2%;
    font-size: 20px;

}

.description-Baldur{
    margin-left: 2%;
    font-size: 20px;

}

.description-horizon{
    margin-left: 2%;
    font-size: 20px;

}

.description-palworld{
    margin-left: 2%;
    font-size: 20px;

}

.description-resident{
    margin-left: 2%;
    font-size: 20px;

}

section {
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 60px;
    padding-right: 60px;
}

h1 {
    color: rgb(43, 0, 255);
}

.introducao__titulo {
    color: white;
}

.video-fortnite {
    border: 2px solid rgb(43, 0, 255);
    border-radius: 30px;
}

.video-baldur {
    border: 2px solid rgb(43, 0, 255);
    border-radius: 30px;
}

.video-horizon {
    border: 2px solid rgb(43, 0, 255);
    border-radius: 30px;
}

.video-resident {
    border: 2px solid rgb(43, 0, 255);
    border-radius: 30px;
}

.video-palworld {
    border: 2px solid rgb(43, 0, 255);
    border-radius: 30px;
}
